@import "tailwindcss";
@plugin "daisyui";

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";
label{
  display: block;
  margin-left: 10%;

}

input{
  /* margin: auto; */
  /* margin-top: 5px; */
  background: #9bb8f7;
  margin-left: 10%;
  width: 80%;
  border:none;
  outline: 0;
  border-radius: 10px;
  padding: 10px 10px;
}
input:focus{
  outline: green 2px;
}