{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
</head>

<body class="bg-gray-50 w-full flex justify-center items-center text-black font-serif leading-normal tracking-normal">
    <form method="post" enctype="multipart/form-data" class="user shadow-2xl rounded-2xl w-[35%]  flex flex-col gap-4">
        <p class="text-center text-[30px] text-blue-600 font-bold mt-3">Add Member</p>
    {% csrf_token %}
    {{ form.as_p }}
    
   <div class="m-auto">
       <button type="submit" class="text-xl py-2 px-40 cursor-pointer font-bold rounded-2xl bg-blue-800 text-white mb-6 mt-2">Confirm</button>
   </div>
</form>
</body>
</html>